<div class="about-top"><p class="text-center">About</p></div><br><br>

<section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__video set-bg" data-setbg="images/about-video.jpg">
                        <a href="https://www.youtube.com/watch?v=wa5YiswoAUU"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>

<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">


<div class="shop-detail"><p class="text-center">ながのCakeは全国発送可能なケーキ屋さんです。<br>
様々なバリエーションをご用意しております。<br>
また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br></div>


    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our client say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <%= image_tag 'ta-2.jpg' %>
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>山田花子</h5>
                                    <span>東京都</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <div class="client-comment">本当においしかったです。カップケーキ可愛くて感動しました。家族全員大喜びでした。ありがとうございました</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <%= image_tag 'ta-1.jpg' %>
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>山本沙月</h5>
                                    <span>東京都</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>本当においしかったです。カップケーキ可愛くて感動しました。家族全員大喜びでした。ありがとうございました</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <%= image_tag 'ta-1.jpg' %>
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>山田あきこ</h5>
                                    <span>青森</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>本当においしかったです。カップケーキ可愛くて感動しました。家族全員大喜びでした。ありがとうございました</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testimonial__item">
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <%= image_tag 'ta-2.jpg' %>
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>山崎花子</h5>
                                    <span>北海道</span>
                                </div>
                            </div>
                            <div class="rating">
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star"></span>
                                <span class="icon_star-half_alt"></span>
                            </div>
                            <p>本当においしかったです。カップケーキ可愛くて感動しました。家族全員大喜びでした。ありがとうございました</p>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>