<div class="container">
  <div class="row">
    <h2>注文履歴詳細</h2>
  </div>

  <div class="row">
    <table>
      <tr>
        <td>購入者</td>
        <td></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td></td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td></td>
      </tr>
      <tr>
        <td>注文ステータス</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-xs-8">
    <table>
    <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>制作ステータス</th>
    </tr>
    <% @ordered_products.each do |ordered_product| %>
    <tr>
    <td><% ordered_product.name %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    </div>

    <div class="col-xs-4">
    </div>
  </div>
</div>