<div class="container">
  <div class="m-3"></div>
  <div class="row">
    <div class="col-sm-3 offset-sm-1">
      <h4 class="m-3">管理者画面</h4>
    </div>
  </div>
  <div class="m-5"></div>
  <div class="row">
    <div class="col-sm-3">
      <h3>本日の注文件数</h3>
    </div>
    <div class="col-sm-3 offset-sm-1">
      <h3><%= link_to @orders.count, admin_orders_path %>件</h3>
    </div>
  </div>
</div>